h1 {
    font-size: 3rem;
    line-height: 2.25rem;
}

.wrapper {
    gap: 6.25rem;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.about-section-container {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-inline: 2.375rem;
}

.about-image-text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 7.125rem;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    height: auto;
    width: 550px;
    padding: 0.625rem;

    font-size: 1.125rem;
}

.about-image {
    height: 356px;
    width: 720px;

    background: gray;
    border-radius: 50px;
}

.board-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8.5rem;
    margin-inline: 2.375rem;
}

.board-section-container h1 {
    position: relative;
    display: inline-block;
}
.board-section-container h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2.625rem;
    height: 10px;
    width: 100%;

    background: linear-gradient(90deg, #D0EBF2 0%, #DCEEC8 100%);
    border-radius: 10px;
    pointer-events: none;
}

.profiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    gap: 4.25rem;
}