.research-wrapper {
    gap: 8rem;
}

.research-main-content-container {
    display: flex;
    gap: 6.75rem;
    margin-inline: 2.375rem;
}

.research-main-content-container h1 {
    width: fit-content;
    position: relative;
}

.research-main-content-container h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2.25rem;
    height: 5px;
    width: 100%;

    background: linear-gradient(90deg, var(--logo-blue) 0%, #DCEEC8 100%);
    border-radius: 10px;
    pointer-events: none;
}

.research-main-cont {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    width: 25vw;
}

.research-desc {
    display: flex;
    flex-direction: column;
    gap: 1em;

    color: var(--gray);
}

.research-desc a {
    color: var(--green);
}

.research-desc a:hover {
    color: var(--black);
}

.research-proj-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}