.research-wrapper {
    gap: 8rem;
}

.research-main-content-container {
    display: flex;
    flex-direction: column;
    gap: 6.75rem;
    margin-inline: 2.375rem;
}

.research-main-content-container h1 {
    width: fit-content;
    position: relative;
}

.research-main-content-container h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2.25rem;
    height: 5px;
    width: 100%;

    background: linear-gradient(90deg, #D0EBF2 0%, #DCEEC8 100%);
    border-radius: 10px;
    pointer-events: none;
}