.resources-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.375rem;
    height: 100vh;
    overflow: hidden;
}

.workshop-title-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-inline: 4em;
}

.workshop-cards-container {
    display: flex;
    width: 100%;
    flex: 1;
}