.footer-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 355px;
    min-height: 50px;
    width: 100%;
    background-color: var(--off-white);
}

.footer-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 240px;
    width: 1370px;
}

.footer-graphic {
    height: 100%;
    width: 385px;
    object-fit: contain;
}

.footer-link-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
    width: 555px;
}

.footer-link-container a {
    color: var(--black);
    text-decoration: none;
}

.social-links {
    display: flex;
    gap: 1rem;
}

.social-links svg {
    width: 40px;
    height: 40px;
    color: var(--black);
}

.email-link {
    display: flex;
    align-items: end;
    gap: 8px;

    font-size: 1rem;
}

.email-link svg {
    width: 16px;
    height: 16px;
    color: var(--black);
}