.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  margin: 0 auto;
}

.logo-section {
  display: flex;
  align-items: center;
  margin-left: 88px;
  gap: 12px;
}

.logo {
  width: 120px;
  height: 77px;
}

.logo-div {
  width: 1.125px;
  height: 80px;
  background-color: var(--black);
}

.logo-text {
  font-weight: 500;
  font-size: 1.125rem;
  padding: 10px;
  color: var(--green);
}

.nav-bar {
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 75px;

  padding: 8px 20px;
  gap: 40px;
}

@media (min-width: 768px) {
  .nav-bar {
    display: flex;
  }
}

.nav-bar a {
  text-decoration: none;
  color: var(--black);
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.2s;

  padding: 8px 0;
  position: relative;
  
}

.nav-bar a:hover {
  color: var(--gray);
}

.nav-bar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1.15px;

  background-color: var(--gray);
  opacity: 75%;

  border-radius: 25%;
  transition: width 0.3s ease;
}

.nav-bar a:hover::after {
  width: 100%;
}