.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 24px 32px;
  margin: 0 auto;
  background: transparent;
  transition: 0.2s ease;
}

.navbar.scrolled {
  background: var(--black);
  padding: 5px;
  z-index: 1;
}

.logo-section {
  display: flex;
  align-items: center;
  margin-left: 88px;
  gap: 12px;
}

.logo {
  width: 120px;
  height: 77px;
}

.navbar.scrolled .logo {
  filter: brightness(0) invert(1);
  transition: filter 0.2s ease;
}

.logo-div {
  height: 60px;
  width: 1.5px;
  background-color: var(--black);
}

.navbar.scrolled .logo-div {
  background-color: white;
}

.logo-text {
  font-weight: 500;
  font-size: 1.125rem;
  padding: 10px;
  color: var(--logo-blue);
}

.logo-text span {
  color: var(--black);
  font-weight: 700;
}

.navbar.scrolled .logo-text,
.navbar.scrolled span {
  color: white;
}

.nav-links {
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 75px;

  padding: 8px 20px;
  gap: 40px;
}

@media (min-width: 768px) {
  .nav-links {
    display: flex;
  }
}

.nav-links a {
  text-decoration: none;
  color: var(--black);
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.2s;

  padding: 8px 0;
  position: relative;
}

.navbar.scrolled .nav-links a {
  color: white;
}

.nav-links a:hover,
.navbar.scrolled .nav-links a:hover {
  color: var(--green);
}

.nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 0%;
  height: 1.5px;

  background-color: var(--green);
  opacity: 75%;

  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.navbar.scrolled .nav-links a::after {
  background-color: var(--green);
}

.nav-links a:not(:last-child)::before {
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);

  height: 25px;
  width: 1.5px;
  background-color: var(--black);
  pointer-events: none;
}

.navbar.scrolled .nav-links a::before {
  background-color: white;
}