.exec-profile-container {
    display: flex;
    flex-direction: column;
    height: 487px;
    width: 294px;
    padding: 3rem;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #fbfbfb;
}

.profile-content-container {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.profile-img {
    height: 200px;
    width: 200px;

    background: gray;
    border: 1px solid black;
    border-radius: 50%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}

.name-pos {
    display: flex;
    flex-direction: column;
    padding-inline: 1.25rem;
    gap: 0.875rem;

    text-align: center;
}

.pos {
    height: auto;
    width: 100%;
    border: 1px solid var(--gray);
    border-radius: 50px;
    padding-block: 0.625rem;
    background-color: #fbfbfb;
}

.profile-social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.profile-social-links svg {
    height: 1.875rem;
    width: 1.875rem;
    color: var(--black);
    transition: 0.2s ease;
}

.profile-social-links svg:hover {
    color: var(--green);
}