
:root {
  --black: #222;
  --gray: #666;
  --green: #279358;
  --dark-green: #1D3A29;
  --off-white: #e4e2dd;
  --logo-blue: #00629B;
  --logo-green: #78BE20;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--black);
}