
:root {
  --black: #222;
  --gray: #666;
  --green: #279358;
  --off-white: #e4e2dd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: var(--black);
}